body{
    margin: 0px;
}

.header{
    overflow: hidden;
    width: 100%;
    height: 130px;
    margin-bottom: 0px;
    background-color: #8ac4d0;
}

.container{
    width: 70%;
    margin:auto;
    overflow: hidden;
}

.header .logo{
    font-size: 32px;
    float: left;
}

.header .navigation{
    float: right;
    margin-top: 60px;
}

.header .navigation li{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
    font-family: 'RocknRoll One', sans-serif;
}

.textimage{
    font-family: 'RocknRoll One', sans-serif;
}

.header .navigation li a{
    color: white;
    text-decoration:none;
}

.header .navigation li a:hover{
    color: white;
    text-decoration:underline;
    
}

.icon-kelas{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('/myphoto.jpeg');
    background-size: cover;
}

/* Container holding the image and the text */
.textimage {
    position: relative;
    text-align: center;
    color: white;
}
  /* Centered text */
  .centered {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

  /* Centered text */
.centered2 {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}